body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

menu {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    padding-inline-start: 10px;
}

.nav-item {
    width: auto;
}

.timer {
    text-align: right;
    margin-right: 20px;
}

.submit-button {
    margin-left: 20px;
}

.choice {
    background-color: darkgreen;
    border: solid;
    border-radius: 5px;
    padding-left: 10px;
    margin: 10px;
    text-align: left;
}

.choice:hover {
    background-color: lightgreen;
}

.highscore-body {
    text-align: center;
}

.highscore-li {
    width: 100%;
    padding: 5px 10px;
    color: darkred;
    margin: 0 3px;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.buttons button {
    border: solid navy;
    border-radius: 20px;
    background-color: blue;
    padding: 10px 30px;
    margin: 5px 30px;
    color: white;
    font-weight: bolder;
    font-size: 1.25rem;
}

#game-box {
    width: 50%;
    margin: 125px auto;
    text-align: center; 
}

#feedback {
    color: gray;
    font-style: italic;
    font-weight: bolder;
    text-align: center;
}

#start-btn {
    border: solid navy;
    border-radius: 20px;
    background-color: blue;
    padding: 10px;
    color: white;
    font-weight: bolder;
    font-size: 1.5rem;
}

#start-btn:hover {
    background-color: lightsteelblue;
}

#score-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: lightblue;
    width: 100%;
    text-align: center;
}

